<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static\css\dashboard.css">
</head>
<body>
    <nav>
        <div class="logo">
            <a href="#">SHOPSMART</a>
        </div>

        <h2>Welcome {{ session.name }}</h2>

        <div class="search-bar">
            <form action="/google/product" method="post">
                <input type="text" name="name" autofocus placeholder="Search...">
                <button type="submit">&#128269;</button>
            </form>
        </div>
        <div class="dropdown">
            <a href="#">Categories</a>
            <div class="dropdown-content">
                <a href="#">Electronics</a>
                <br>
                <a href="#">Clothes & Wearable</a>
                <br>
                <a href="#">Phones & Tablets</a>
            </div>
        </div>
        <a href="#">About</a>
        <a href="#">Support</a>
    </nav>
    <form action="/user/logout" method="post">
        <button type="submit">Logout</button>
    </form>
</body>
</html>