<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/normalize.css">
    <link rel="stylesheet" href="static/styles.css">
    <title>Minor Project</title>
    {% block head %}{% endblock head %}

</head>
<body>
    {% with messages = get_flashed_messages() %}
    
        {% if messages %}

            {% for msg in messages %}

            <p>{{ msg }}</p>

            {% endfor %}
        
        {% endif %}

    {% endwith %}
    {% block body %}{% endblock body %}
</body>
</html>